<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex justify-content-center">
        <div>
            <h2 class="text-center text-warning bg-secondary bg-gradient pb-2">Danh sách các Môn học</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên môn học</th>
                        <th scope="col">Loại môn học</th>
                        <th scope="col">Kỳ học</th>
                        <th scope="col">Khoa</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(item, index) { %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td><%= item.monHoc %></td>
                            <td><%= item.loaiMH %></td>
                            <td><%= item.hocKy %></td>
                            <td><%= item.khoa %></td>
                        </tr>
                    <% }); %>
                    <!-- <% for(var i = 0; i < data.length; i++) {%>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= data[i].monHoc %></td>
                        <td><%= data[i].loaiMH %></td>
                        <td><%= data[i].hocKy %></td>
                        <td><%= data[i].khoa %></td>
                    </tr>
                    <% } %> -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>